<div id="body">
    <div id="inputSectionForRegistration">
        <table>
            <tr>
                <td>
                    <label for="name">Name:</label>

                </td>
                <td> <input type="text" name="name"></td>
            </tr>
            <tr>
                <td><label for="surName">SurName:</label></td>
                <td><input type="text" name="surName"></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><label for="repeatPassword">Repeat password:</label></td>
                <td><input type="password" name="repeatPassword"></td>
            </tr>
            
            <tr>
                <td></td>
                <td><button>Cancel</button> <button>Save</button></td>
            </tr>
        </table>


    </div>

    <div id="inputSectionForLogin">
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Cancel</button> <button>Login</button></td>
            </tr>
            <tr >
                <td></td>
                <td style="text-align: center; "><button>Create an account</button></td>
            </tr>
        </table>

    </div>
</div>