#body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
   
    width: 100%;
    
}
#header{
    grid-column: 1/span 3;
    display: grid;
    padding: 1rem 5px;
    grid-template-columns: 15% 70% 15%;
    background-color: rgb(64, 148, 64);
}

#informSection{
    grid-column: 2/3;
    justify-self: center;
    position: relative;
    width: 80%;
}
#informSection h1, p{
    color: white;
    text-align: center;
    padding: 5px;
}
#informSection input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
}

#logoutButonSection{
    grid-column: 3;
    justify-self: end
}

#inputSection form{
    display: flex;
    
    justify-content: center;
    width: 100%;
    padding: 1rem 0;

}
#inputSection form button{
    background-color: rgb(64, 148, 64);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    margin-left: 5px;
    width: 70px;

}
#inputSection form button:hover{
    background-color: rgb(57, 124, 57);
    cursor: pointer;
}
#inputSection form button:active{
    background-color: rgb(95, 216, 95);
    cursor: pointer;
}

#logoutButonSection button{
    background-color: rgb(64, 148, 64);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    margin-left: 5px;
    width: 70px;
    padding: 7px;

}
#logoutButonSection button:hover{
    background-color: rgb(57, 124, 57);
    cursor: pointer;
}

#logoutButonSection button:activ{
    background-color: rgb(95, 216, 95);
    cursor: pointer;
}

#main{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 5px;
    position: relative;
    
}
#main table{
    width: 70%;
    margin-top: 2rem;
}

#main table tr {
    margin: 10px;
    
   
}

.hideOrShowTascks{
    margin-bottom: 2rem;
    text-align: center;
}
.hideOrShowTascks button{
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 1px 3px black;
}
.hideOrShowTascks button:hover{
    background-color: rgb(241, 95, 85);
    cursor: pointer;
}
.hideOrShowTascks button:active{
    background-color: red;
    color: white;
}

#main table tr th h2{
    color :rgb(158, 120, 120);
    
    

}
.task > td:first-child{
    padding: 7px;
    background-color: rgb(245, 240, 240);
}
.taskLin > td:first-child{
    text-decoration-line: line-through;
    text-decoration-color: red
}

.thCenter{
    text-align: center;
}

.thCenter i{
    margin-left: 5px;
    
}
#checkbox{
    background-color: red;
}
#checkbox:hover{
    cursor: pointer;
    
}
.fa{
    cursor: pointer;
}

.remuvIcone{
    color: red;
}
.confirmDeleteSec{
    position: absolute;
    top: 10px;
    left: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px black;
    border-radius: 5px;
    background-color: white;
    
}

.confirmDeleteSec h3{
    padding: 10px;
    color: red;
}
.confirmDeleteSec button{
    width: 50px;
    padding: 7px;
    margin: 10px;
    border: none;
    outline: none;
    box-shadow: 0 1px 4px black;
    border-radius: 5px;
    cursor: pointer;
}

.confirmDeleteSec button:hover{
    background-color: red;
}
.confirmDeleteSec button:active{
    background-color: rgb(207, 61, 61);
    color: white;
}
.warningSection{
    background-color: red;
    color: white;
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: 30%;
    width: 30%;
    min-width: 70px;

}
table.hideChecked > tr.taskLin {
    display: none;
}